![Logo Universidad Galileo](assets/Logo_Universidad_Galileo.png)

# **Lab 1: Prediction of energy prices using multiple regression**
## Course: Statistical Learning
### Student: Otto Chamo

# Libraries

Python libraries and scripts used to work on this assignment

In [61]:
%load_ext autoreload

%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [62]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import PolynomialFeatures, OrdinalEncoder
from sklearn.linear_model import LinearRegression

import utils as utils

# Constants

In [63]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

sheet_names = ["ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO", "AGOSTO", "SEPTIEMBRE", "OCTUBRE", "NOVIEMBRE", "DICIEMBRE"]

dataset_excel_file_path = "./POE_2023.xlsx"

month_col = "Month"

# Loading data

In [64]:
datasetExcel = pd.read_excel(dataset_excel_file_path, sheet_name=sheet_names)

# Pre processing

## Adding month column and applying ordinal encoding to time ranges

In [65]:
weekdayColumn = "Weekday"

for monthIndex, sheetName in enumerate(sheet_names):
    dataframe = datasetExcel[sheetName]
    
    dataframe[month_col] = months[monthIndex]
    dataframe["HourOfDay"] = range(len(dataframe))
    dataframe.fillna(value = 0, inplace=True)
    startDay = 1
    month = monthIndex + 1
    #for j, row in dataframe.iterrows():
    #    dayOfWeek = utils.findDay(2023, month, startDay)
    #    dataframe.at[j, weekdayColumn] = dayOfWeek
    #    startDay += 1


print(datasetExcel['ENERO'])

   horaInicio   HoraFin          1           2          3           4  \
0    00:00:00  01:00:00  74.231420   76.322254  76.279396   76.331430
1    01:00:00  02:00:00  74.231420   76.322254  76.279396   76.331430
2    02:00:00  03:00:00  59.075180   76.322254  76.279396   76.331430
3    03:00:00  04:00:00  59.075180   76.322254  76.279396   76.331430
4    04:00:00  05:00:00  80.961495   76.322254  76.279396   76.331430
5    05:00:00  06:00:00  75.821884   76.322254  76.279396   76.331430
6    06:00:00  07:00:00  81.162299  121.251437  76.427269   76.480476
7    07:00:00  08:00:00  81.162299  121.251437  76.427269   76.480476
8    08:00:00  09:00:00  81.162299  117.673948  76.427269   76.480476
9    09:00:00  10:00:00  81.162299  117.673948  76.427269   76.480476
10   10:00:00  11:00:00  81.162299  117.673948  76.427269  115.735792
11   11:00:00  12:00:00  81.162299  117.673948  76.427269  115.735792
12   12:00:00  13:00:00  76.009940  117.673948  76.427269  115.735792
13   13:00:00  14:00:00  76.009940  117.673948  76.427269  115.735792
14   14:00:00  15:00:00  76.009940  117.673948  76.427269  115.735792
15   15:00:00  16:00:00  76.009940  117.673948  76.427269  115.735792
16   16:00:00  17:00:00  76.009940  121.251437  76.427269  115.735792
17   17:00:00  18:00:00  76.009940  121.251437  76.427269  115.735792
18   18:00:00  19:00:00  81.526084  117.101144  76.451640  115.389824
19   19:00:00  20:00:00  81.526084  117.101144  76.451640  115.389824
20   20:00:00  21:00:00  81.526084  118.776690  76.451640  111.182636
21   21:00:00  22:00:00  81.526084  118.776690  76.451640   76.917099
22   22:00:00  23:00:00  59.075180   76.322254  76.279396   76.331430
23   23:00:00     24:00  74.231420   76.322254  76.279396   75.135607

            5          6          7           8  ...         24         25  \
0   74.943801  61.021538  73.803751  108.739147  ...  76.925243  76.791841
1   76.210497  61.021538  73.803751   76.263791  ...  76.925243  76.791841
2   76.210497  61.021538  73.803751   76.263791  ...  76.925243  76.791841
3   76.210497  61.021538  73.803751   76.263791  ...  76.925243  76.791841
4   76.210497  61.021538  76.254953   76.263791  ...  76.925243  76.791841
5   76.210497  61.021538  76.254953   76.263791  ...  76.925243  76.791841
6   76.490665  76.443668  76.435500   12.697469  ...  77.086340  77.017506
7   76.392303  76.443668  81.616705   12.394419  ...  77.086340  77.017506
8   76.392303  76.443668  74.632272   12.697469  ...  77.086340  77.017506
9   76.392303  76.443668  74.632272   12.697469  ...  77.086340  77.017506
10  76.392303  76.443668  74.632272   12.967268  ...  77.086340  77.017506
11  76.392303  76.443668  74.632272   33.353585  ...  77.086340  77.017506
12  81.675610  76.443668  74.632272   33.353585  ...  77.086340  77.017506
13  76.490665  76.443668  60.715219   33.353585  ...  77.086340  77.017506
14  76.490665  76.443668  60.715219   12.697469  ...  77.086340  77.017506
15  76.490665  76.443668  60.715219   59.405247  ...  77.086340  77.017506
16  76.490665  76.443668  60.715219   81.499702  ...  77.086340  77.017506
17  76.490665  76.443668  12.742087   76.325925  ...  77.086340  77.017506
18  76.921204  76.892379  20.052028  117.179499  ...  76.993786  76.887585
19  76.921204  60.695797  20.052028  117.179499  ...  76.993786  76.887585
20  76.017720  60.695797  20.052028  117.179499  ...  76.993786  76.887585
21  60.797876  60.695797  20.052028   76.714439  ...  76.993786  76.887585
22  60.719012  61.021538  12.306774   76.263791  ...  76.925243  76.791841
23  60.719012  74.654610  73.803751   76.263791  ...  76.925243  76.791841

            26         27         28         29          30          31  \
0    76.687275  76.832013  39.866142  81.658132   40.734832   76.702537
1    76.687275  76.832013  39.866142  81.658132   40.734832   76.702537
2    76.687275  76.832013  39.866142  81.658132   40.734832   76.702537
3    76.687275  76.832013  81.940061  81.658132   40.734832   76.702537
4    76.687275  76.832013  81.940061  81.658132   81.592168   76.702537
5    76.687275  76.832013  81.940061  81.658132   76.412520   76.702537
6    77.093111  77.100196  82.280233  82.225065   77.054810   77.053141
7    77.093111  77.100196  82.280233  82.225065   77.054810  117.325683
8    77.093111  77.100196  77.056906  82.225065   77.054810  117.325683
9    77.093111  77.100196  77.056906  82.225065   77.054810  117.325683
10   77.093111  77.100196  77.056906  77.005240   77.054810  117.325683
11   77.093111  77.100196  77.056906  77.005240   77.054810  117.325683
12   77.093111  77.100196  39.778599  77.005240   77.054810  117.325683
13   77.093111  77.100196  39.778599  77.005240   77.054810  117.325683
14   77.093111  77.100196  39.778599  77.005240   77.054810  117.325683
15   77.093111  77.100196  39.778599  77.005240   77.054810  117.325683
16   77.093111  77.100196  39.778599  77.005240   77.054810  117.325683
17   77.093111  77.100196  39.778599  77.005240  121.985061  117.325683
18  113.756129  76.827460  39.509503  20.027483  121.905370  114.552997
19  113.756129  76.827460  19.878275  20.027483  121.905370  114.552997
20  113.756129  76.827460  19.878275  20.027483   76.932897   76.876860
21   77.011173  39.543355  19.549505  20.027483   76.932897   76.876860
22   76.687275  39.802741  12.540285  11.681193   76.412520   76.702537
23   76.687275  39.802741  39.866142  12.195873   76.412520   76.702537

      Month  HourOfDay
0   January          0
1   January          1
2   January          2
3   January          3
4   January          4
5   January          5
6   January          6
7   January          7
8   January          8
9   January          9
10  January         10
11  January         11
12  January         12
13  January         13
14  January         14
15  January         15
16  January         16
17  January         17
18  January         18
19  January         19
20  January         20
21  January         21
22  January         22
23  January         23

[24 rows x 35 columns]

## Adding day of week

## Join dataframes

In [66]:
dataframes = list(datasetExcel.values())

allData = pd.concat(dataframes)

In [67]:
allData = allData.drop('horaInicio', axis=1)
allData = allData.drop('HoraFin', axis=1)

In [68]:
allData.head()

,1,2,3,4,5,6,7,8,9,10,...,24,25,26,27,28,29,30,31,Month,HourOfDay
0,74.231420,76.322254,76.279396,76.33143,74.943801,61.021538,73.803751,108.739147,76.274707,108.814156,...,76.925243,76.791841,76.687275,76.832013,39.866142,81.658132,40.734832,76.702537,January,0
1,74.231420,76.322254,76.279396,76.33143,76.210497,61.021538,73.803751,76.263791,76.274707,108.814156,...,76.925243,76.791841,76.687275,76.832013,39.866142,81.658132,40.734832,76.702537,January,1
2,59.075180,76.322254,76.279396,76.33143,76.210497,61.021538,73.803751,76.263791,76.274707,108.814156,...,76.925243,76.791841,76.687275,76.832013,39.866142,81.658132,40.734832,76.702537,January,2
3,59.075180,76.322254,76.279396,76.33143,76.210497,61.021538,73.803751,76.263791,76.274707,108.814156,...,76.925243,76.791841,76.687275,76.832013,81.940061,81.658132,40.734832,76.702537,January,3
4,80.961495,76.322254,76.279396,76.33143,76.210497,61.021538,76.254953,76.263791,76.274707,108.814156,...,76.925243,76.791841,76.687275,76.832013,81.940061,81.658132,81.592168,76.702537,January,4

In [69]:
allData.loc[allData[month_col] == "February" ]

,1,2,3,4,5,6,7,8,9,10,...,24,25,26,27,28,29,30,31,Month,HourOfDay
0,76.643637,76.821804,76.758056,76.783662,10.612107,10.716211,78.056235,78.215065,78.140792,77.944144,...,77.637818,120.964585,116.634107,77.660854,119.974928,0.0,0.0,0.0,February,0
1,76.643637,76.821804,76.758056,76.783662,10.612107,10.626326,78.056235,78.215065,78.140792,77.944144,...,77.637818,120.964585,112.209748,77.660854,119.974928,0.0,0.0,0.0,February,1
2,76.643637,76.821804,76.758056,76.783662,11.094858,12.287694,78.056235,78.215065,78.140792,77.944144,...,77.637818,120.964585,77.625518,77.660854,119.974928,0.0,0.0,0.0,February,2
3,76.643637,76.821804,76.758056,81.988468,11.685354,12.332694,78.056235,78.215065,78.140792,77.944144,...,77.637818,120.964585,11.954608,77.660854,119.974928,0.0,0.0,0.0,February,3
4,76.643637,76.821804,76.758056,40.654377,11.685354,12.461133,78.056235,78.215065,78.140792,77.944144,...,77.637818,77.635824,77.625518,77.660854,119.974928,0.0,0.0,0.0,February,4
5,76.643637,76.821804,76.758056,11.693895,11.685354,12.937844,78.056235,78.215065,78.140792,77.944144,...,77.637818,77.635824,77.625518,77.660854,119.974928,0.0,0.0,0.0,February,5
6,77.339206,77.052896,76.861135,39.589468,11.759962,78.385934,78.491615,78.488113,78.503635,78.345331,...,78.643945,120.817116,77.729289,77.850941,166.501979,0.0,0.0,0.0,February,6
7,77.339206,77.258789,77.028652,40.629964,15.666490,78.385934,78.491615,78.488113,78.503635,78.345331,...,78.643945,122.198646,120.285298,77.850941,166.501979,0.0,0.0,0.0,February,7
8,77.339206,77.258789,77.028652,40.629964,15.666490,78.385934,78.491615,78.488113,78.503635,78.345331,...,78.643945,122.198646,125.954770,77.850941,166.895221,0.0,0.0,0.0,February,8
9,117.106558,77.258789,77.028652,82.207284,12.661051,83.728795,78.491615,78.488113,78.503635,78.345331,...,78.643945,122.198646,125.954770,77.850941,166.895221,0.0,0.0,0.0,February,9
10,77.339206,77.258789,77.028652,76.988588,15.666490,78.385934,78.491615,78.488113,78.503635,78.345331,...,78.643945,122.198646,125.954770,77.850941,166.501979,0.0,0.0,0.0,February,10
11,77.339206,77.258789,77.028652,76.988588,15.666490,78.385934,78.491615,78.488113,78.503635,78.345331,...,78.643945,122.198646,125.954770,77.850941,123.531176,0.0,0.0,0.0,February,11
12,77.339206,77.258789,77.028652,76.988588,12.655186,78.385934,78.491615,78.488113,78.503635,118.560457,...,78.643945,122.198646,125.954770,77.850941,166.501979,0.0,0.0,0.0,February,12
13,77.339206,77.258789,77.028652,76.988588,12.661051,78.385934,78.491615,78.488113,78.503635,118.560457,...,78.643945,131.451020,125.954770,77.850941,77.910585,0.0,0.0,0.0,February,13
14,77.339206,77.258789,77.028652,76.988588,13.844865,78.385934,78.491615,78.488113,78.503635,118.560457,...,78.643945,131.451020,125.954770,123.377463,77.910585,0.0,0.0,0.0,February,14
15,77.339206,77.258789,77.028652,76.988588,13.096574,78.385934,78.491615,78.488113,78.503635,118.560457,...,78.643945,163.488771,77.729289,123.377463,77.910585,0.0,0.0,0.0,February,15
16,117.106558,77.258789,77.028652,82.207284,12.503872,78.385934,78.491615,78.488113,78.503635,119.027619,...,77.871232,163.488771,77.729289,123.377463,77.910585,0.0,0.0,0.0,February,16
17,117.106558,77.258789,76.861135,82.207284,11.759962,78.385934,78.491615,78.488113,78.503635,119.027619,...,77.871232,131.451020,77.729289,123.377463,117.907957,0.0,0.0,0.0,February,17
18,77.151840,77.017099,76.902478,82.041689,20.017235,78.180622,78.157131,78.183925,78.161752,122.050225,...,78.101894,121.197760,77.646834,122.701861,122.076550,0.0,0.0,0.0,February,18
19,77.151840,77.017099,76.902478,20.016161,20.017235,78.180622,78.157131,78.183925,78.161752,122.050225,...,78.101894,121.197760,116.550267,122.701861,122.076550,0.0,0.0,0.0,February,19
20,77.151840,77.017099,76.902478,20.016161,20.017235,78.180622,78.157131,78.183925,78.161752,122.050225,...,78.101894,121.197760,116.550267,122.701861,122.076550,0.0,0.0,0.0,February,20
21,77.151840,76.891035,82.115337,20.016161,17.113098,78.180622,78.157131,78.183925,78.161752,122.050225,...,78.101894,121.197760,77.646834,122.701861,122.076550,0.0,0.0,0.0,February,21
22,76.643637,76.821804,76.758056,11.595618,11.685354,77.563945,78.056235,78.215065,78.140792,77.944144,...,77.637818,120.964585,77.625518,121.105481,119.974928,0.0,0.0,0.0,February,22
23,76.643637,76.821804,76.758056,11.693895,11.685354,77.563945,78.056235,78.215065,78.140792,77.944144,...,77.637818,120.964585,77.625518,77.660854,119.974928,0.0,0.0,0.0,February,23

In [70]:
allData.describe()

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,31,HourOfDay
count,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,...,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000
mean,100.108733,105.255508,95.468833,97.766245,88.521401,104.076853,100.846719,105.257568,107.919526,109.799219,...,121.561381,111.124203,104.764356,118.868800,117.455512,117.836295,96.916719,83.799444,46.619317,11.500000
std,37.370121,42.741847,38.857043,41.640506,40.404186,50.922944,43.266080,66.157929,50.448323,51.799698,...,69.747213,37.211059,45.678263,45.446744,58.260641,67.958423,52.361390,49.338187,52.711510,6.934236
min,8.820949,13.493663,12.423103,1.303394,1.805701,10.626326,10.707688,10.838457,12.323699,7.568520,...,12.702132,13.401304,1.341703,11.954608,8.743896,8.808085,0.000000,0.000000,0.000000,0.000000
25%,77.292364,77.258789,76.279396,72.027405,69.602314,76.443668,73.803751,69.620976,69.695195,77.815151,...,79.449758,78.643945,76.863649,80.810110,77.100196,75.280399,71.758195,60.903224,0.000000,5.750000
50%,98.583330,98.468316,81.441381,102.350668,91.542513,101.171622,102.577436,97.243999,108.335039,108.814156,...,108.661730,113.759866,108.303843,114.044673,110.735433,118.583893,100.561317,81.856858,12.456775,11.500000
75%,124.457607,124.008098,120.295658,120.281075,116.522344,132.847705,131.253219,129.978547,131.861320,129.123165,...,136.610090,137.738815,123.428497,139.444507,162.736499,143.936549,126.658215,112.047826,93.370306,17.250000
max,169.835491,356.467041,202.148450,196.844139,181.252289,355.398596,179.485484,357.301029,371.850143,371.964058,...,446.448578,234.177580,213.504243,242.426161,356.878566,356.647743,212.694422,200.972370,159.735205,23.000000

In [71]:
allDataTranspose = allData.transpose()

In [72]:
allDataTranspose.columns

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
       ...
       14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
      dtype='int64', length=288)